* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 23px;
  font-weight: 100;
}
:root {
  --bg: #64fd64;
  --ss: 1%;
  --sb: 2px;
  --sixty: #d5cabd;
  --cartBg: #d5cabda8;
  --thirty: #4e8397;
  --acc: #845ec2;
  --chestHair: #00000000;
}
::selection {
  background-color: var(--chestHair);
  color: var(--acc);
  font-style: italic !important;
}
#nav {
  display: flex;
  justify-content: space-between;
}
#routes {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}
#routes > * {
  margin: var(--ss);
}

.Item {
  background-color: var(--sixty);
  max-width: 30vw;
  margin: 2em;
  border: var(--sb) solid var(--acc);
  padding: var(--ss);
}
.Item > h1 {
  text-decoration: underline;
  text-decoration-color: var(--thirty);
  text-decoration-thickness: var(--sb);
}
#target {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 3px;
}
* {
  font-family: "Nanum Gothic", sans-serif;
}
#userCart {
  padding: var(--ss);
  margin: var(--ss);
  background-color: var(--chestHair);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  transform-origin: bottom left;
  transform: scale(0);
  max-height: 40vh;
  width: 20vw;
  overflow-y: scroll;
}
#userCart.active {
  background-color:var(--cartBg);
  transform: scale(1);
}
#userCart > button{
  position: fixed;
  bottom: 0;
}